.title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.left_side {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 3rem;
  padding-left: 6rem;
}

.navigation {
  display: grid;
  gap: 1.5rem;
  align-self: end;
}

.natigationActive {
  grid-template-columns: 1fr 1fr;
}

.navigation > .button {
  display: grid;
  grid-template-rows: 1fr 1rem;
  background-color: #00000033;
  width: 8rem;
  height: 8rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--gray);
  transition: 0.1s;
  text-decoration: none;
}

.navigation .book img {
  width: 60px;
}

.navigation > .button span {
  align-self: end;
}

.navigation > .button > img {
  max-width: 80px;
  align-self: center;
  justify-self: center;
  transition: 0.2s;
}

.cartaImg {
  width: 70px;
}

.navigation > .button:hover,
.buttonActive {
  background-color: #ffffff0a !important;
  border: 1px solid rgba(var(--primary-rgb), 0.2) !important;
  box-shadow: -2px 2px 4px #00000010 !important;
}

.navigation > .button:hover img {
  scale: 1.05;
}

.button_title {
  font-weight: 700;
  text-align: center;
}
