.descriptionContainer {
  display: grid;
  padding: 3rem 6rem;
}

.alunos {
  animation: pulsar 1s infinite alternate ease-out;
  filter: drop-shadow(10px 10px 15px rgba(255, 255, 255, 0.3));
}

.rightMenu {
  height: max-content;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  justify-items: top;
  width: 6.25rem;
  justify-self: end;
}

.rightMenu a {
  margin: auto;
}

.carta {
  width: 4.5rem;
}

@keyframes pulsar {
  from {
    scale: 0.95;
  }
  to {
    scale: 1;
  }
}

.resume {
  align-self: end;
  justify-self: end;
  font-size: 0.85rem;
  text-align: center;
  color: #a2a2a2;
  font-weight: 500;
  max-width: 26rem;
}
