.base {
  display: grid;
  grid-template-columns: 24rem 1fr;

  height: full;
  max-height: fit-content;
  min-height: 100dvh;

  background: url("./fundo-livro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}